@model client.Models.Task
@{
    Tasks tasks = new Tasks();
    tasks.UpdateTasks();
    var AllTasks = tasks.GetTasks();
    EditRequest editRequest = new EditRequest();
}

<form id="add-task" class="add-task">
    <textarea placeholder="Добавить задачу"></textarea>
</form>
<div class="task-list">
    <ul class="tasks">
        @foreach (client.Models.Task item in AllTasks)
        {
            string taskId = $"task-id-{item.id}";
            <li id="@taskId" class="tasks__item">
                <label id="@item.id" onclick="isCompleteRequest('@editRequest.ChangeCompleteTask(item.id, item.isComplete)')">
                    <p>@item.title</p>
                    <p>@item.descr</p>
                    <p>@item.isComplete</p>
                    <p>@item.isPin</p>
                </label>
            </li>
        }
    </ul>
</div>

@*<ul class="tasks">
    @foreach (client.Models.Task item in AllTasks)
    {
        string taskId = $"task-id-{item.id}";
        <li id="@taskId" class="tasks__item">
            <label id="@item.id" onclick="isCompleteRequest('@editRequest.ChangeCompleteTask(item.id, item.isComplete)')">
                <p>@item.title</p>
                <p>@item.descr</p>
                <p>@item.isComplete</p>
                <p>@item.isPin</p>
            </label>
        </li>
    }
</ul>*@

@*<p id="outputRequest">

</p>*@