@model client.Models.Task
@{
    @*ViewData["Title"] = "Органайзер";*@
    Tasks tasks = new Tasks();
    tasks.UpdateTasks();
    var AllTasks = tasks.GetTasks();
    EditRequest editRequest = new EditRequest();
}

<ul class="tasks">
    @foreach (client.Models.Task item in AllTasks)
    {
        string taskId = $"task-id-{item.id}";
        <li id="@taskId" class="tasks__item">
            <label id="@item.id" onclick="isCompleteRequest('@editRequest.ChangeCompleteTask(item.id, item.isComplete)')">
                <p>@item.title</p>
                <p>@item.descr</p>
                <p>@item.isComplete</p>
            </label>
        </li>
    }
</ul>